@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap");

body {
    background-color: #ecf0f1 !important;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif !important;
}

// Vender
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";

// Pages
@import "./pages/home";

// Components
@import "./components/card";
@import "./components/header";
